.sideMenu {
  background-color: var(--mss-primary);
  padding: 0 1rem;

  * {
    color: white;
  }

  a[href]:hover,
  button:not(:disabled):hover {
    background-color: var(--mss-primary-inverted-hover);
  }

  :global(.fr-sidemenu__btn) {
    color: white;
    background-color: var(--mss-primary);

    &:hover {
      background-color: var(--mss-primary-inverted-hover);
    }
  }

  :global(.fr-sidemenu__btn)[aria-current]::before,
  :global(.fr-sidemenu__link)[aria-current]::before {
    --hover: white !important;
    --active: white !important;

    background-color: white !important;
  }
}
