.attributesList > *:not(:last-child) {
  --li-bottom: 1rem;
}

.attributesListItem {
  & > *:first-child,
  & > .missingValue {
    color: var(--text-mention-grey);
  }

  & > *:last-child {
    word-break: break-word;
  }
}
